.hero {
  background-image: url('https://cdn.saffire.com/images.ashx?t=ig&rid=PeoriaCivicCenter&i=Bradley_Arena(1).jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.titlecard {
  padding-top: .5em;
  border: 5px solid rgba(177, 26, 26, 0.318);
  height: 10vh;
  width: 40vh;
  background-color: rgba(243, 236, 236, 0.326);
  color: red;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.scoreboard {
  border: 2px solid rgb(20, 19, 19);
  height: 30vh;
  width: 80vh;
  background-color: rgba(177, 26, 26, 0.318);
}

.scorecard {
  background-color: rgba(0, 255, 255, 0.625);
  text-align: center;
  border-radius: 5px;

}