.hero {
  background-image: url('https://cdn.saffire.com/images.ashx?t=ig&rid=PeoriaCivicCenter&i=Bradley_Arena(1).jpg');
  background-size: cover;
  height: 80vh;
  background-position: top center;
}